fastapi
uvicorn[all]
python-dotenv
psycopg2-binary
langchain>=0.1.0
langchain-core>=0.1.7 
langchain-ollama
langchain-huggingface
langchain-postgres
langchain-text-splitters
google-auth
python-jose[cryptography]
PyPDF2
SQLAlchemy
sentence-transformers